.recent-booking-person-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
button {
  border: 0px;
  background-color: transparent;
}
thead th {
  font-weight: 500;
}
/* thead th, */
.time,
.date,
.name,
.service_type,
.date,
.phoneno {
  color: black !important;
  font-weight: 400;
  font-size: 14px !important;
}
.time {
  font-weight: 800;
  color: #6431f1 !important;
  font-size: 14px;
}
.name {
  font-weight: 600;
}
.email {
  font-weight: 300;
  color: #000001;
  opacity: 0.3;
}

.main-wrapper table thead tr th {
  font-weight: 800;
}
.recent-booking-head i {
  color: #6174a5;
  font-size: 25px;
}
.table i {
  color: #000000;
  font-size: 15px;
}
.recent-booking-head h2 {
  font-weight: 600;
  color: #6174a5 !important;
  font-size: 28px;
}
.recent-booking-head {
  background-color: white;
  padding: 20px 0px 5px 10px;
  border-radius: 20px 20px 0px 0px;
}
.action {
  text-align: center;
  /* width: 150px; */
  margin: 0;
  /* margin: auto; */
}
.calender-icon {
  padding: 5px 8px 2px 8px;
}
.calender-icon,
#dropdown-pages {
  /* padding: 8px; */
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #6174a5 !important;
  border: 0px;
}
.paid,
.pending,
.failed,
.StartEvaluation,
.action-select-plan,
.StartPrescription,
.action-view-eval {
  border-radius: 20px;
  width: 120px;
  height: 30px;
  text-transform: capitalize;
  padding: 4px 30px;
  color: white;
  word-spacing: 1px;
  font-weight: 300;
}

tbody {
  background-color: transparent;
}
.action-view-eval {
  border-radius: 8.622px;
  background: #ebe6ff;
  color: #7257ff;
  width: 120px;
  height: 34px !important;
  padding: 6px 5px;
  text-transform: capitalize;
  margin-bottom: 7px;
}
.action-select-plan {
  margin-bottom: 7px;
  margin-top: 7px;

  height: 32px !important;
  padding: 3px 2px;
  text-transform: capitalize;
  border-radius: 8.622px;
  background: #7257ff;
  color: white;
  width: 120px !important;
}
.main-wrapper table tbody tr:hover + tr {
  background-color: rgb(28, 14, 68, 0.2) !important;
  color: white !important;
}
.main-wrapper table thead tr th {
  color: rgb(0, 0, 0) !important;
  padding: 0 !important;
  padding: 10px !important;
}
.main-wrapper table {
  text-align: center;
}
.StartPrescription {
  height: 38px !important;
  width: fit-content !important;
}
.complete {
  color: #7257ff !important;
}
.service-status {
  font-size: 14px;
}
/* { */
.StartEvaluation,
.StartPrescription {
  border-radius: 10px;
  height: fit-content;
  padding: 6px 10px;
  background-color: #7257ff;

  text-transform: capitalize !important;
}
.paid {
  background: rgba(153, 245, 193, 0.4);
  color: rgb(5, 157, 71);
}
.pending {
  background: rgba(248, 206, 147, 0.4);
  color: rgb(238, 143, 9);
}
.failed {
  background: rgba(234, 51, 75, 0.75);
}
.table-div-booking .dropdown-toggle,
.table-div-booking .dropdown-toggle:hover,
.table-div-booking .show > .btn-light.dropdown-toggle,
.table-div-booking .show > .btn-light.dropdown-toggle:focus,
.table-div .dropdown-toggle,
.table-div .dropdown-toggle:hover,
.table-div .show > .btn-light.dropdown-toggle,
.table-div .show > .btn-light.dropdown-toggle:focus {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
}
.table-div-booking {
  overflow-y: scroll;
  width: 100%;
}
.table-div-booking .react-datepicker-wrapper {
  /* display: none; */
}
.table-div-booking .dropdown-toggle::after {
  display: none;
}
.dropdown-toggle,
.dropdown-toggle:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #a3afcf;
  border-radius: 10px;
}
.frame {
  width: 98%;
  margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  border-radius: 20px 20px 0px 0px;
  height: 98vh;
}
/* niranjan laptpo */
@media screen and (min-width: 1901px) {
  .pag-cont {
    width: 80% !important;
    margin: auto;
    margin-top: 30px;
    padding: 20px 0px;
  }
  .frame {
    width: 80%;
    margin: auto;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border-radius: 20px 20px 0px 0px;
    height: 80vh;
  }
  .buttons-cont {
    width: 80% !important;
  }
  .search-bar {
    width: 30% !important;
  }
}
.no-details {
  /* display: flex; */
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: 10px !important;
}
.main-wrapper {
  width: 100%;
}

.name-email-image-cont {
  display: flex;
  text-align: start !important;
}
.recent-bookings-cont tr td {
  /* height: 13px !important; */
}
.recent-bookings-cont tr td {
  /* background-color: #f2f8fc !important; */
}

.recent-booking-head .search-bar input {
  background-color: #f4f4f4;
}

.input-group-text {
  border: 0px;
  background-color: #f4f4f4;
}
.recent-booking-head .search-bar .form-control {
  width: fit-content !important;
  border: 0px;
}
.pagination {
  width: fit-content;
}
.pag-cont {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 10px 0px;
  background-color: white;
}
.page-link {
  border: 0px;
}
.page-item.active .page-link {
  border-radius: 10px;
  background-color: #6174a5;
}
.page-link {
  color: #6174a5;
  min-width: 30px;
  min-height: 30px;
}
@media only screen and (max-width: 600px) {
  .frame {
    width: 90vw !important;
    margin: auto;

    /* height: 600px; */
  }
  .buttons-cont {
    height: 60px !important;
  }
  .table-div {
    overflow-x: scroll;
    height: calc(80vh - 60px) !important;
  }
  .table-div-booking {
    overflow-x: scroll;
    height: 80vh !important;
  }
  .search-bar {
    display: none;
  }
  .recent-bookings-cont {
    /* height: 90vh !important; */
    /* overflow-y: scroll; */
    overflow-x: scroll !important;
    font-size: 12px;
  }
  .StartEvaluation {
    height: fit-content !important;
    width: fit-content !important;
    text-align: center;
    text-transform: uppercase !important;
    font-weight: 800;
  }

  /* .recent-booking-head {
    position: fixed;
    width: 90vw;
    height: 80px !important;
  } */
  .booking-presc {
    margin-top: 0px !important;
  }
  .evaluation-buttons-cont {
    margin-top: 10px !important;
  }

  .recent-booking-head h2 {
    font-size: 20px;
    font-weight: 900;
  }
  .recent-booking-person-image {
    display: none;
  }
  .name {
    font-size: 14px;
  }
  .email {
    font-size: 13px;
  }
  .name-email-image-cont {
    display: table-cell !important;
  }
  th {
    width: 200px;
  }
}

.progress-bar {
  background-color: #6431f1;
}

.progress {
  --bs-progress-bar-color: #bfaaf9;
  --bs-progress-bg: none;
  background-color: #d8ccf6;
}
.form-form {
  background-color: white;
  padding: 20px 100px;
  height: 70vh;
  border-radius: 20px;
}
.form-label {
  text-transform: capitalize;
}
.col-sm-6 {
  margin-bottom: 20px;
}
.completed-table {
  background-color: white;
  width: 100%;
}
.recent-bookings-cont tr {
  border-top: 1px solid rgb(223, 220, 220);
}
